body {
	margin: 0;
	font-family: Lucida Sans Unicode, sans-serif;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.skyline {
	flex-shrink: 0;
    min-width: 100%;
	margin-bottom: -5px;
}
.name {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	white-space: nowrap;
}
.container {
	position: relative;
	text-align: center;
	color: white;
}
.title {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	white-space: nowrap;
}
.school {
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	white-space: nowrap;
}
.topnav {
	overflow: hidden;
	background-color: white;
	display: flex;
	justify-content: center;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 69;
}
.topnav a {
	float: left;
	color: gray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: gray;
	color: black;
}
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
.logoImg {
	width: 200px;
	height: 200px;
	padding-top: 35px;
}
.logoText {
	position: relative;
	color: gray;
	text-align: center;
	font-size: 50px;
}
.logoContainer::after {
	display: block;
	content: '';
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	margin-bottom: 20px;
	display: block;
	height: 1px;
	bottom: 0;
	left: 0;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(gray), to(rgba(128,128,128,0)));
}
.logoContainer {
	float: left;
	width: 25%;
	background-color: transparent;
}
.sectionTitle {
	text-align: center;
	color: gray;
	font-size: 50px;
	margin-top: 50px;
}
.sectionTitle::after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background: black;
	bottom: 0;
	left: 0;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(gray), to(rgba(128,128,128,0)));
}
.skillsDiv {
	display: inline-block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.sectionDiv {
	display: inline-block;
	width: 100%
}
.resumeContainer {
	display: inline-block;
}
.jobDiv {
	padding-left: 5%;
	padding-right: 4%;
	text-align: left;
	width: 34%;
	float: left;
	margin-bottom: 40px;
	position: static;
	margin-left: 4%;
	margin-right: 3%;
	box-shadow: 5px 5px 10px grey;
}
.jobTitle {
	text-align: left;
	color: gray;
	font-size: 20px;
}
.jobDesc {
	color: gray;
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.jobImg {
	vertical-align: middle;
	align: left;
	width: 110px;
	height: 110px;
	padding-top: 20px;
	color: black
}
.jobRole {
	color: gray;
	font-size: 20px;
	margin-bottom: 20px;
}
.jobDate {
	color: gray;
	font-size: 16px;
	margin-bottom: 20px;
}
.mePic {
	width: 350px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.meText {
	color: gray;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 30px;
	text-align: left;
}
.contactInfo {
	color: gray;
	font-size: 20px;
	text-align: center;
}
.contactDiv {
	background-color: #fef2ff;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
	padding-bottom: 1px;
	margin-bottom: -18px;
}